@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

.nav-background {
    background-color: #242451;
}

.travel-txt {
    font-family: "Racing Sans One", sans-serif;
    font-size: var(--font-size-28);
    font-weight: 400;
    line-height: 35.7px;
    color: var(--color-white1);
}

.navbar-link {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 500;
    line-height: 24px;
    color: var(--color-white1)
}

.wallet-txt-btn {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 600;
    line-height: 24px;
    color: var(--color-white1);
    padding: 14px 32px 14px 32px;
    background: var(--color-linear);
    border-radius: 60px;
    border: 2px solid var(--color-linear);
}

.wallet-txt-btn:hover {
    background: var(--color-white1);
    border: 2px solid var(--color-linear);
    color: var(--color-linear);
}

.bg-image-1 {
    background-image: url(../images/png/hero-section-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.token-txt {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-64);
    font-weight: 400;
    line-height: 75.2px;
    text-align: center;
    color: var(--color-white1);
}

.pt-250 {
    padding-top: 250px;
}

.blurbox {
    max-width: 930px;
    width: 100%;
    /* height: 300px; */
    padding: 30px;
    margin-top: 65px;
    border-radius: 16px;
    background: var(--color-blur);
    border: 1px solid #FDFDFD66;
}

.card-stays {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.room-travelers {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-14);
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    color: var(--color-white);
}

.going-box {
    width: 452px;
    border-radius: 8px;
    background: #FFFFFF14;
    border: 1px solid #FFFFFF99;
    padding: 16px;
}

.going-to {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    color: var(--color-white);
    text-align: left;
}

.calenderbox {
    width: 180px;
    border-radius: 8px;
    background: #FFFFFF14;
    border: 1px solid #FFFFFF99;
    padding: 5px;
}

.check-in {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-10);
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    color: var(--color-white);
}

.jun {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
}

.form-group {
    display: block;
    margin-bottom: 30px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.6px solid #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    top: 0px;
}

.form-group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    height: 14px;
    border: 0.6px solid #FFFFFF;
    border-radius: 2px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.add-a-flight {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white);
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}
.search-btn {
    font-family: "Poppins", sans-serif;
    font-size: var();
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
    width: 122px;
    height: 52px;
    border-radius: 60px;
    background: var(--color-linear);
    border: none;
    margin-top: 34px;
}
.search-btn:hover{
    background: var(--color-white);
    color: var(--color-linear);
}